# Your Info
__Name__:

__PDX Email__:

__Collaborators__:

# Pandas Series Workouts

A collection of exercises designed to build your proficiency in working with Pandas Series, the fundamental one-dimensional labeled array in the Pandas library. 

These workouts will cover creating, accessing, manipulating, and analyzing data within Series objects.

# Workout 0 - Importing the Tools

* Import the `pandas` library using the `pd` alias

In [ ]:
### Begin Solution



### End Solution

# Workout 1 - Pandas Series

## Exercise 1 - Create and Explore a Series

__The Setup__

* Create a Pandas Series named `fruit_series` with the following data and index:

    * __Data__: 5 random integers between 5 and 25 (inclusive).
    * __Index__: `Apple`, `Banana`, `Orange`, `Grape`, `Watermelon`.
        * (you can use `str.split()` to create the index list)

In [ ]:
### Begin Solution





### End Solution

__Your Task__

* Print the quantity of `'Orange'`.
* Use `.iloc` to access the quantity of the first item in the Series.
* Print the index of the Series.
* Print the values of the Series.
* Check if `'Banana'` is present in the index.

In [ ]:
### Begin Solution






### End Solution

## Exercise 2 - Series Operations

__The Setup__

Creatte a Pandas Series named `prices_series` with the following data and index:
* __Data:__ 5 random floats between 0.25 and 2.00 (inclusive).
* __Index:__ Apple, Banana, Orange, Grape, Watermelon.

In [ ]:
### Begin Solution








### End Solution

__Your Task__

* Multiply the `fruit_series` (quantities) by the `prices_series` to get the total value of each fruit.  Store the result in a new Series called `value_series`.
* Print the `value_series`.

In [ ]:
### Begin Solution








### End Solution

__Your Task Continued__

* Calculate the total value of all the fruits and print the result.
* Find the fruit with the highest total value.

In [ ]:
### Begin Solution








### End Solution

## Exercise 3 - Filtering Modifying a Series

__Your Task__

1. Using the `fruit_series` from Exercise 1, filter the Series to include only the fruits with a quantity greater than 7.

2. Increase the quantity of the first item in fruit_series by 5.

3. Add a new entry to `fruit_series` for `'Pineapple'` with a quantity of 12.

4. Delete the entry for the third item from fruit_series.

5. Reset the index of the `fruit_series` and print the updated series.

In [ ]:
### Begin Solution













### End Solution

## Exercise 4 - Test Scores

__The Setup__

* Generate a Pandas Series named `monthly_scores`. 

* This Series should contain 10 randomly generated integer values, each representing a student's score on a monthly exam. These scores should be between 70 and 100 (inclusive). 

* The index for this Series should be the names of the months corresponding to a typical academic year, starting with `September` and concluding with `June`.

In [ ]:
### Begin Solution








### End Solution

__Your Task__

Using the monthly_scores Series you created, perform the following analysis:

* Calculate and display the student's overall average test score across all ten months.
* Determine and display the student's average test score for the first five months of the academic year (September through January).
* Determine and display the student's average test score for the second five months of the academic year (February through June).
* Compare the average scores from the first and second halves of the year.
    * Calculate and display the amount of improvement.

In [ ]:
### Begin Solution













### End Solution

## Exercise 5 - Scaling Test Scores

__The Setup__

Let's simulate a year of monthly test scores for a student, from September through June. 

* Create a Pandas Series called `monthly_raw_scores` containing 10 randomly generated integer values.
* Each of these values will represent a raw test score, ranging from 40 to 60 (inclusive).
* The index of this Series will be the names of the months, in order from `September` to `June`.

In [ ]:
### Begin Solution








### End Solution

__Background Information__

Sometimes, an exam turns out to be more difficult than the instructor anticipated, potentially leading to lower overall scores. 

To avoid a situation where a large portion of the class might fail, instructors often "curve" the grades. This adjustment aims to raise the average score of the class. 

A common method involves shifting all scores upwards by a certain amount, often based on the difference between the desired average and the actual average.

__Your Task__

You have an existing Pandas Series named `monthly_raw_scores` containing the student's initial test scores. Your goal is to simulate a score curving process and store the adjusted scores in a new Pandas Series called `curved_scores`.

1. Calculate the average (mean) of the scores in the `monthly_raw_scores Series`.
2. Determine the difference between a target average of 80 and the calculated mean.
3. Add this difference to each individual score in the `monthly_raw_scores` Series to obtain the curved scores.
4. Create a new Pandas Series named `curved_scores` containing these adjusted values. This new Series should have the same index (month names) as the original `monthly_raw_scores`.
5. Output the `curved_scores` series.

In [ ]:
### Begin Solution



### End Solution

## Exercise 6 - Monday Temperatures

__The Setup__

Create a Pandas Series named `weekly_temperatures`.
This Series will contain 28 temperature readings in Celsius.

* Each temperature value should be an integer.
    * The range for these integer temperatures is from 9 to 20 degrees Celsius (inclusive).
* The index for the Series will represent four consecutive weeks.
    * The days of the week will be the index labels, starting with `Sun` and continuing through `Sat`.
* This day sequence will repeat for each of the four weeks until all 28 temperature readings have a corresponding index label.

Output the series.

In [ ]:
### Begin Solution








### End Solution

__Your Task__

Using the `weekly_temperatures` Series you've created, write Python code to determine the answers to the following questions:

1. What was the average (mean) temperature recorded on all the Mondays within the four-week period?
2. What was the average temperature recorded on all weekend days (Saturdays and Sundays) during the four-week period?

In [ ]:
### Begin Solution








### End Solution

## Exercise 7 - Passenger Frequency

__The Setup__

In this exercise, we'll be working with real-world data stored in a single-column `CSV` file named `data/taxi-passenger-count.csv`. This file, contains a sample of 100,000 taxi rides from New York City in 2015. The single column in the `CSV` represents the number of passengers in each individual ride.

__Loading the Data__

* Use the `pd.read_csv()` function to read the CSV file.
* Set the `header` argument to `None` within `pd.read_csv()` to ensure the first row is treated as data.
* Apply the `.squeeze()` method to the DataFrame returned by `pd.read_csv()` to convert it into a Pandas Series.
* Assign this resulting Series to the variable name `passenger_counts`. This Series will contain the passenger count for each of the 100,000 rides.
* Output the `passenger_counts` series.

In [ ]:
### Begin Solution








### End Solution

__Your Task__

Using the Pandas Series you've created containing the passenger counts for 100,000 taxi rides:

* Calculate the number of rides that had exactly one passenger.
* Calculate the number of rides that had the theoretical maximum of six passengers.
* Determine the percentage of the total number of rides that had only one passenger.
* Determine the percentage of the total number of rides that had six passengers.
* Display both of these percentages clearly.

In [ ]:
### Begin Solution








### End Solution

# Useful References


* `pd.Series.mean()`: Calculates the average value of the elements in the Series 
* `pd.Series.max()`: Returns the largest value within the Series.
* `pd.Series.min()`: Returns the smallest value within the Series.
* `pd.Series.idxmin()`: Returns the index label of the first occurrence of the minimum value
* `pd.Series.idxmax()`: Returns the index label of the first occurrence of the maximum value.
* `series.index`: Returns the Index object of the Series. This object contains the labels for each of the elements in the Series.
* `series.values`: Returns a NumPy array representing the data (the values) in the Series.
* `series.loc`: Accesses a group of rows and columns by label(s) or a boolean array.
* `series.iloc`: Accesses a group of rows and columns by integer position(s).
* `series.round()`: Rounds each value in the Series to a specified number of decimal places.
* `pd.read_csv()`: Reads data from a comma-separated values (CSV) file into a DataFrame.
* `.squeeze()`: Converts a single-column DataFrame or a single-row DataFrame to a Series. When used with `pd.read_csv()`, it can directly return a Series if the data has only one column. 
* `str.split()`: A built-in Python string method that splits a string into a list of substrings based on a specified delimiter. 

For more in-depth information on the topics we've discussed and many others, you can visit the official Pandas documentation here:

[https://pandas.pydata.org/docs/](https://pandas.pydata.org/docs/)

### Submitting Your Assignment

Please follow these steps to submit your work:

1. Ensure your name and the names of any collaborators are clearly stated in the [Your Info](#Your-Info) section at the top of the notebook.
2. Download your completed notebook as a `.ipynb` file.
3. Upload this `.ipynb` file to the designated assignment submission area in Canvas.